build/
.project/
.c9/
.node-gyp
test/
node-src/
*.sublime-project
*.sublime-workspace
/build.js
### npm template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
#package-lock.json

test

.github
.gitkeep

/.*
